// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-chel-name: 'icon-chel';
$icon-chel-x: 21px;
$icon-chel-y: 109px;
$icon-chel-offset-x: -21px;
$icon-chel-offset-y: -109px;
$icon-chel-width: 21px;
$icon-chel-height: 19px;
$icon-chel-total-width: 152px;
$icon-chel-total-height: 130px;
$icon-chel-image: '/img/sprite.png';
$icon-chel: (21px, 109px, -21px, -109px, 21px, 19px, 152px, 130px, '/img/sprite.png', 'icon-chel', );
$icon-comments-name: 'icon-comments';
$icon-comments-x: 42px;
$icon-comments-y: 109px;
$icon-comments-offset-x: -42px;
$icon-comments-offset-y: -109px;
$icon-comments-width: 21px;
$icon-comments-height: 18px;
$icon-comments-total-width: 152px;
$icon-comments-total-height: 130px;
$icon-comments-image: '/img/sprite.png';
$icon-comments: (42px, 109px, -42px, -109px, 21px, 18px, 152px, 130px, '/img/sprite.png', 'icon-comments', );
$icon-country-1-name: 'icon-country-1';
$icon-country-1-x: 0px;
$icon-country-1-y: 109px;
$icon-country-1-offset-x: 0px;
$icon-country-1-offset-y: -109px;
$icon-country-1-width: 21px;
$icon-country-1-height: 21px;
$icon-country-1-total-width: 152px;
$icon-country-1-total-height: 130px;
$icon-country-1-image: '/img/sprite.png';
$icon-country-1: (0px, 109px, 0px, -109px, 21px, 21px, 152px, 130px, '/img/sprite.png', 'icon-country-1', );
$icon-country-2-name: 'icon-country-2';
$icon-country-2-x: 92px;
$icon-country-2-y: 58px;
$icon-country-2-offset-x: -92px;
$icon-country-2-offset-y: -58px;
$icon-country-2-width: 22px;
$icon-country-2-height: 21px;
$icon-country-2-total-width: 152px;
$icon-country-2-total-height: 130px;
$icon-country-2-image: '/img/sprite.png';
$icon-country-2: (92px, 58px, -92px, -58px, 22px, 21px, 152px, 130px, '/img/sprite.png', 'icon-country-2', );
$icon-country-3-name: 'icon-country-3';
$icon-country-3-x: 104px;
$icon-country-3-y: 83px;
$icon-country-3-offset-x: -104px;
$icon-country-3-offset-y: -83px;
$icon-country-3-width: 21px;
$icon-country-3-height: 21px;
$icon-country-3-total-width: 152px;
$icon-country-3-total-height: 130px;
$icon-country-3-image: '/img/sprite.png';
$icon-country-3: (104px, 83px, -104px, -83px, 21px, 21px, 152px, 130px, '/img/sprite.png', 'icon-country-3', );
$icon-country-4-name: 'icon-country-4';
$icon-country-4-x: 127px;
$icon-country-4-y: 70px;
$icon-country-4-offset-x: -127px;
$icon-country-4-offset-y: -70px;
$icon-country-4-width: 22px;
$icon-country-4-height: 21px;
$icon-country-4-total-width: 152px;
$icon-country-4-total-height: 130px;
$icon-country-4-image: '/img/sprite.png';
$icon-country-4: (127px, 70px, -127px, -70px, 22px, 21px, 152px, 130px, '/img/sprite.png', 'icon-country-4', );
$icon-country-5-name: 'icon-country-5';
$icon-country-5-x: 127px;
$icon-country-5-y: 48px;
$icon-country-5-offset-x: -127px;
$icon-country-5-offset-y: -48px;
$icon-country-5-width: 22px;
$icon-country-5-height: 22px;
$icon-country-5-total-width: 152px;
$icon-country-5-total-height: 130px;
$icon-country-5-image: '/img/sprite.png';
$icon-country-5: (127px, 48px, -127px, -48px, 22px, 22px, 152px, 130px, '/img/sprite.png', 'icon-country-5', );
$icon-country-6-name: 'icon-country-6';
$icon-country-6-x: 127px;
$icon-country-6-y: 26px;
$icon-country-6-offset-x: -127px;
$icon-country-6-offset-y: -26px;
$icon-country-6-width: 22px;
$icon-country-6-height: 22px;
$icon-country-6-total-width: 152px;
$icon-country-6-total-height: 130px;
$icon-country-6-image: '/img/sprite.png';
$icon-country-6: (127px, 26px, -127px, -26px, 22px, 22px, 152px, 130px, '/img/sprite.png', 'icon-country-6', );
$icon-fb-name: 'icon-fb';
$icon-fb-x: 0px;
$icon-fb-y: 0px;
$icon-fb-offset-x: 0px;
$icon-fb-offset-y: 0px;
$icon-fb-width: 34px;
$icon-fb-height: 41px;
$icon-fb-total-width: 152px;
$icon-fb-total-height: 130px;
$icon-fb-image: '/img/sprite.png';
$icon-fb: (0px, 0px, 0px, 0px, 34px, 41px, 152px, 130px, '/img/sprite.png', 'icon-fb', );
$icon-fb1-name: 'icon-fb1';
$icon-fb1-x: 0px;
$icon-fb1-y: 83px;
$icon-fb1-offset-x: 0px;
$icon-fb1-offset-y: -83px;
$icon-fb1-width: 26px;
$icon-fb1-height: 26px;
$icon-fb1-total-width: 152px;
$icon-fb1-total-height: 130px;
$icon-fb1-image: '/img/sprite.png';
$icon-fb1: (0px, 83px, 0px, -83px, 26px, 26px, 152px, 130px, '/img/sprite.png', 'icon-fb1', );
$icon-gp-name: 'icon-gp';
$icon-gp-x: 0px;
$icon-gp-y: 41px;
$icon-gp-offset-x: 0px;
$icon-gp-offset-y: -41px;
$icon-gp-width: 30px;
$icon-gp-height: 42px;
$icon-gp-total-width: 152px;
$icon-gp-total-height: 130px;
$icon-gp-image: '/img/sprite.png';
$icon-gp: (0px, 41px, 0px, -41px, 30px, 42px, 152px, 130px, '/img/sprite.png', 'icon-gp', );
$icon-gp1-name: 'icon-gp1';
$icon-gp1-x: 127px;
$icon-gp1-y: 0px;
$icon-gp1-offset-x: -127px;
$icon-gp1-offset-y: 0px;
$icon-gp1-width: 25px;
$icon-gp1-height: 26px;
$icon-gp1-total-width: 152px;
$icon-gp1-total-height: 130px;
$icon-gp1-image: '/img/sprite.png';
$icon-gp1: (127px, 0px, -127px, 0px, 25px, 26px, 152px, 130px, '/img/sprite.png', 'icon-gp1', );
$icon-home-name: 'icon-home';
$icon-home-x: 92px;
$icon-home-y: 0px;
$icon-home-offset-x: -92px;
$icon-home-offset-y: 0px;
$icon-home-width: 35px;
$icon-home-height: 32px;
$icon-home-total-width: 152px;
$icon-home-total-height: 130px;
$icon-home-image: '/img/sprite.png';
$icon-home: (92px, 0px, -92px, 0px, 35px, 32px, 152px, 130px, '/img/sprite.png', 'icon-home', );
$icon-in-name: 'icon-in';
$icon-in-x: 34px;
$icon-in-y: 0px;
$icon-in-offset-x: -34px;
$icon-in-offset-y: 0px;
$icon-in-width: 30px;
$icon-in-height: 42px;
$icon-in-total-width: 152px;
$icon-in-total-height: 130px;
$icon-in-image: '/img/sprite.png';
$icon-in: (34px, 0px, -34px, 0px, 30px, 42px, 152px, 130px, '/img/sprite.png', 'icon-in', );
$icon-in1-name: 'icon-in1';
$icon-in1-x: 78px;
$icon-in1-y: 83px;
$icon-in1-offset-x: -78px;
$icon-in1-offset-y: -83px;
$icon-in1-width: 26px;
$icon-in1-height: 26px;
$icon-in1-total-width: 152px;
$icon-in1-total-height: 130px;
$icon-in1-image: '/img/sprite.png';
$icon-in1: (78px, 83px, -78px, -83px, 26px, 26px, 152px, 130px, '/img/sprite.png', 'icon-in1', );
$icon-ok-name: 'icon-ok';
$icon-ok-x: 34px;
$icon-ok-y: 42px;
$icon-ok-offset-x: -34px;
$icon-ok-offset-y: -42px;
$icon-ok-width: 29px;
$icon-ok-height: 40px;
$icon-ok-total-width: 152px;
$icon-ok-total-height: 130px;
$icon-ok-image: '/img/sprite.png';
$icon-ok: (34px, 42px, -34px, -42px, 29px, 40px, 152px, 130px, '/img/sprite.png', 'icon-ok', );
$icon-ok1-name: 'icon-ok1';
$icon-ok1-x: 26px;
$icon-ok1-y: 83px;
$icon-ok1-offset-x: -26px;
$icon-ok1-offset-y: -83px;
$icon-ok1-width: 26px;
$icon-ok1-height: 26px;
$icon-ok1-total-width: 152px;
$icon-ok1-total-height: 130px;
$icon-ok1-image: '/img/sprite.png';
$icon-ok1: (26px, 83px, -26px, -83px, 26px, 26px, 152px, 130px, '/img/sprite.png', 'icon-ok1', );
$icon-tw-name: 'icon-tw';
$icon-tw-x: 64px;
$icon-tw-y: 0px;
$icon-tw-offset-x: -64px;
$icon-tw-offset-y: 0px;
$icon-tw-width: 28px;
$icon-tw-height: 41px;
$icon-tw-total-width: 152px;
$icon-tw-total-height: 130px;
$icon-tw-image: '/img/sprite.png';
$icon-tw: (64px, 0px, -64px, 0px, 28px, 41px, 152px, 130px, '/img/sprite.png', 'icon-tw', );
$icon-tw1-name: 'icon-tw1';
$icon-tw1-x: 52px;
$icon-tw1-y: 83px;
$icon-tw1-offset-x: -52px;
$icon-tw1-offset-y: -83px;
$icon-tw1-width: 26px;
$icon-tw1-height: 26px;
$icon-tw1-total-width: 152px;
$icon-tw1-total-height: 130px;
$icon-tw1-image: '/img/sprite.png';
$icon-tw1: (52px, 83px, -52px, -83px, 26px, 26px, 152px, 130px, '/img/sprite.png', 'icon-tw1', );
$icon-views-name: 'icon-views';
$icon-views-x: 127px;
$icon-views-y: 91px;
$icon-views-offset-x: -127px;
$icon-views-offset-y: -91px;
$icon-views-width: 25px;
$icon-views-height: 16px;
$icon-views-total-width: 152px;
$icon-views-total-height: 130px;
$icon-views-image: '/img/sprite.png';
$icon-views: (127px, 91px, -127px, -91px, 25px, 16px, 152px, 130px, '/img/sprite.png', 'icon-views', );
$icon-vk-name: 'icon-vk';
$icon-vk-x: 92px;
$icon-vk-y: 32px;
$icon-vk-offset-x: -92px;
$icon-vk-offset-y: -32px;
$icon-vk-width: 26px;
$icon-vk-height: 26px;
$icon-vk-total-width: 152px;
$icon-vk-total-height: 130px;
$icon-vk-image: '/img/sprite.png';
$icon-vk: (92px, 32px, -92px, -32px, 26px, 26px, 152px, 130px, '/img/sprite.png', 'icon-vk', );
$icon-vk1-name: 'icon-vk1';
$icon-vk1-x: 64px;
$icon-vk1-y: 41px;
$icon-vk1-offset-x: -64px;
$icon-vk1-offset-y: -41px;
$icon-vk1-width: 26px;
$icon-vk1-height: 26px;
$icon-vk1-total-width: 152px;
$icon-vk1-total-height: 130px;
$icon-vk1-image: '/img/sprite.png';
$icon-vk1: (64px, 41px, -64px, -41px, 26px, 26px, 152px, 130px, '/img/sprite.png', 'icon-vk1', );
$spritesheet-width: 152px;
$spritesheet-height: 130px;
$spritesheet-image: '/img/sprite.png';
$spritesheet-sprites: ($icon-chel, $icon-comments, $icon-country-1, $icon-country-2, $icon-country-3, $icon-country-4, $icon-country-5, $icon-country-6, $icon-fb, $icon-fb1, $icon-gp, $icon-gp1, $icon-home, $icon-in, $icon-in1, $icon-ok, $icon-ok1, $icon-tw, $icon-tw1, $icon-views, $icon-vk, $icon-vk1, );
$spritesheet: (152px, 130px, '/img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
