// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-arrow-left-name: 'icon-arrow-left';
$icon-arrow-left-x: 148px;
$icon-arrow-left-y: 122px;
$icon-arrow-left-offset-x: -148px;
$icon-arrow-left-offset-y: -122px;
$icon-arrow-left-width: 6px;
$icon-arrow-left-height: 9px;
$icon-arrow-left-total-width: 168px;
$icon-arrow-left-total-height: 157px;
$icon-arrow-left-image: '/img/sprite.png';
$icon-arrow-left: (148px, 122px, -148px, -122px, 6px, 9px, 168px, 157px, '/img/sprite.png', 'icon-arrow-left', );
$icon-arrow-right-name: 'icon-arrow-right';
$icon-arrow-right-x: 142px;
$icon-arrow-right-y: 122px;
$icon-arrow-right-offset-x: -142px;
$icon-arrow-right-offset-y: -122px;
$icon-arrow-right-width: 6px;
$icon-arrow-right-height: 9px;
$icon-arrow-right-total-width: 168px;
$icon-arrow-right-total-height: 157px;
$icon-arrow-right-image: '/img/sprite.png';
$icon-arrow-right: (142px, 122px, -142px, -122px, 6px, 9px, 168px, 157px, '/img/sprite.png', 'icon-arrow-right', );
$icon-chel-name: 'icon-chel';
$icon-chel-x: 86px;
$icon-chel-y: 136px;
$icon-chel-offset-x: -86px;
$icon-chel-offset-y: -136px;
$icon-chel-width: 21px;
$icon-chel-height: 19px;
$icon-chel-total-width: 168px;
$icon-chel-total-height: 157px;
$icon-chel-image: '/img/sprite.png';
$icon-chel: (86px, 136px, -86px, -136px, 21px, 19px, 168px, 157px, '/img/sprite.png', 'icon-chel', );
$icon-comments-name: 'icon-comments';
$icon-comments-x: 107px;
$icon-comments-y: 136px;
$icon-comments-offset-x: -107px;
$icon-comments-offset-y: -136px;
$icon-comments-width: 21px;
$icon-comments-height: 18px;
$icon-comments-total-width: 168px;
$icon-comments-total-height: 157px;
$icon-comments-image: '/img/sprite.png';
$icon-comments: (107px, 136px, -107px, -136px, 21px, 18px, 168px, 157px, '/img/sprite.png', 'icon-comments', );
$icon-country-1-name: 'icon-country-1';
$icon-country-1-x: 65px;
$icon-country-1-y: 136px;
$icon-country-1-offset-x: -65px;
$icon-country-1-offset-y: -136px;
$icon-country-1-width: 21px;
$icon-country-1-height: 21px;
$icon-country-1-total-width: 168px;
$icon-country-1-total-height: 157px;
$icon-country-1-image: '/img/sprite.png';
$icon-country-1: (65px, 136px, -65px, -136px, 21px, 21px, 168px, 157px, '/img/sprite.png', 'icon-country-1', );
$icon-country-2-name: 'icon-country-2';
$icon-country-2-x: 0px;
$icon-country-2-y: 136px;
$icon-country-2-offset-x: 0px;
$icon-country-2-offset-y: -136px;
$icon-country-2-width: 22px;
$icon-country-2-height: 21px;
$icon-country-2-total-width: 168px;
$icon-country-2-total-height: 157px;
$icon-country-2-image: '/img/sprite.png';
$icon-country-2: (0px, 136px, 0px, -136px, 22px, 21px, 168px, 157px, '/img/sprite.png', 'icon-country-2', );
$icon-country-3-name: 'icon-country-3';
$icon-country-3-x: 44px;
$icon-country-3-y: 136px;
$icon-country-3-offset-x: -44px;
$icon-country-3-offset-y: -136px;
$icon-country-3-width: 21px;
$icon-country-3-height: 21px;
$icon-country-3-total-width: 168px;
$icon-country-3-total-height: 157px;
$icon-country-3-image: '/img/sprite.png';
$icon-country-3: (44px, 136px, -44px, -136px, 21px, 21px, 168px, 157px, '/img/sprite.png', 'icon-country-3', );
$icon-country-4-name: 'icon-country-4';
$icon-country-4-x: 22px;
$icon-country-4-y: 136px;
$icon-country-4-offset-x: -22px;
$icon-country-4-offset-y: -136px;
$icon-country-4-width: 22px;
$icon-country-4-height: 21px;
$icon-country-4-total-width: 168px;
$icon-country-4-total-height: 157px;
$icon-country-4-image: '/img/sprite.png';
$icon-country-4: (22px, 136px, -22px, -136px, 22px, 21px, 168px, 157px, '/img/sprite.png', 'icon-country-4', );
$icon-country-5-name: 'icon-country-5';
$icon-country-5-x: 142px;
$icon-country-5-y: 100px;
$icon-country-5-offset-x: -142px;
$icon-country-5-offset-y: -100px;
$icon-country-5-width: 22px;
$icon-country-5-height: 22px;
$icon-country-5-total-width: 168px;
$icon-country-5-total-height: 157px;
$icon-country-5-image: '/img/sprite.png';
$icon-country-5: (142px, 100px, -142px, -100px, 22px, 22px, 168px, 157px, '/img/sprite.png', 'icon-country-5', );
$icon-country-6-name: 'icon-country-6';
$icon-country-6-x: 142px;
$icon-country-6-y: 78px;
$icon-country-6-offset-x: -142px;
$icon-country-6-offset-y: -78px;
$icon-country-6-width: 22px;
$icon-country-6-height: 22px;
$icon-country-6-total-width: 168px;
$icon-country-6-total-height: 157px;
$icon-country-6-image: '/img/sprite.png';
$icon-country-6: (142px, 78px, -142px, -78px, 22px, 22px, 168px, 157px, '/img/sprite.png', 'icon-country-6', );
$icon-dnepr-name: 'icon-dnepr';
$icon-dnepr-x: 0px;
$icon-dnepr-y: 0px;
$icon-dnepr-offset-x: 0px;
$icon-dnepr-offset-y: 0px;
$icon-dnepr-width: 56px;
$icon-dnepr-height: 54px;
$icon-dnepr-total-width: 168px;
$icon-dnepr-total-height: 157px;
$icon-dnepr-image: '/img/sprite.png';
$icon-dnepr: (0px, 0px, 0px, 0px, 56px, 54px, 168px, 157px, '/img/sprite.png', 'icon-dnepr', );
$icon-fb-name: 'icon-fb';
$icon-fb-x: 0px;
$icon-fb-y: 54px;
$icon-fb-offset-x: 0px;
$icon-fb-offset-y: -54px;
$icon-fb-width: 34px;
$icon-fb-height: 41px;
$icon-fb-total-width: 168px;
$icon-fb-total-height: 157px;
$icon-fb-image: '/img/sprite.png';
$icon-fb: (0px, 54px, 0px, -54px, 34px, 41px, 168px, 157px, '/img/sprite.png', 'icon-fb', );
$icon-fb1-name: 'icon-fb1';
$icon-fb1-x: 142px;
$icon-fb1-y: 0px;
$icon-fb1-offset-x: -142px;
$icon-fb1-offset-y: 0px;
$icon-fb1-width: 26px;
$icon-fb1-height: 26px;
$icon-fb1-total-width: 168px;
$icon-fb1-total-height: 157px;
$icon-fb1-image: '/img/sprite.png';
$icon-fb1: (142px, 0px, -142px, 0px, 26px, 26px, 168px, 157px, '/img/sprite.png', 'icon-fb1', );
$icon-flag-name: 'icon-flag';
$icon-flag-x: 56px;
$icon-flag-y: 0px;
$icon-flag-offset-x: -56px;
$icon-flag-offset-y: 0px;
$icon-flag-width: 56px;
$icon-flag-height: 34px;
$icon-flag-total-width: 168px;
$icon-flag-total-height: 157px;
$icon-flag-image: '/img/sprite.png';
$icon-flag: (56px, 0px, -56px, 0px, 56px, 34px, 168px, 157px, '/img/sprite.png', 'icon-flag', );
$icon-gp-name: 'icon-gp';
$icon-gp-x: 112px;
$icon-gp-y: 42px;
$icon-gp-offset-x: -112px;
$icon-gp-offset-y: -42px;
$icon-gp-width: 30px;
$icon-gp-height: 42px;
$icon-gp-total-width: 168px;
$icon-gp-total-height: 157px;
$icon-gp-image: '/img/sprite.png';
$icon-gp: (112px, 42px, -112px, -42px, 30px, 42px, 168px, 157px, '/img/sprite.png', 'icon-gp', );
$icon-gp1-name: 'icon-gp1';
$icon-gp1-x: 142px;
$icon-gp1-y: 52px;
$icon-gp1-offset-x: -142px;
$icon-gp1-offset-y: -52px;
$icon-gp1-width: 25px;
$icon-gp1-height: 26px;
$icon-gp1-total-width: 168px;
$icon-gp1-total-height: 157px;
$icon-gp1-image: '/img/sprite.png';
$icon-gp1: (142px, 52px, -142px, -52px, 25px, 26px, 168px, 157px, '/img/sprite.png', 'icon-gp1', );
$icon-home-name: 'icon-home';
$icon-home-x: 63px;
$icon-home-y: 54px;
$icon-home-offset-x: -63px;
$icon-home-offset-y: -54px;
$icon-home-width: 35px;
$icon-home-height: 32px;
$icon-home-total-width: 168px;
$icon-home-total-height: 157px;
$icon-home-image: '/img/sprite.png';
$icon-home: (63px, 54px, -63px, -54px, 35px, 32px, 168px, 157px, '/img/sprite.png', 'icon-home', );
$icon-in-name: 'icon-in';
$icon-in-x: 112px;
$icon-in-y: 0px;
$icon-in-offset-x: -112px;
$icon-in-offset-y: 0px;
$icon-in-width: 30px;
$icon-in-height: 42px;
$icon-in-total-width: 168px;
$icon-in-total-height: 157px;
$icon-in-image: '/img/sprite.png';
$icon-in: (112px, 0px, -112px, 0px, 30px, 42px, 168px, 157px, '/img/sprite.png', 'icon-in', );
$icon-in1-name: 'icon-in1';
$icon-in1-x: 142px;
$icon-in1-y: 26px;
$icon-in1-offset-x: -142px;
$icon-in1-offset-y: -26px;
$icon-in1-width: 26px;
$icon-in1-height: 26px;
$icon-in1-total-width: 168px;
$icon-in1-total-height: 157px;
$icon-in1-image: '/img/sprite.png';
$icon-in1: (142px, 26px, -142px, -26px, 26px, 26px, 168px, 157px, '/img/sprite.png', 'icon-in1', );
$icon-ok-name: 'icon-ok';
$icon-ok-x: 34px;
$icon-ok-y: 54px;
$icon-ok-offset-x: -34px;
$icon-ok-offset-y: -54px;
$icon-ok-width: 29px;
$icon-ok-height: 40px;
$icon-ok-total-width: 168px;
$icon-ok-total-height: 157px;
$icon-ok-image: '/img/sprite.png';
$icon-ok: (34px, 54px, -34px, -54px, 29px, 40px, 168px, 157px, '/img/sprite.png', 'icon-ok', );
$icon-ok1-name: 'icon-ok1';
$icon-ok1-x: 80px;
$icon-ok1-y: 95px;
$icon-ok1-offset-x: -80px;
$icon-ok1-offset-y: -95px;
$icon-ok1-width: 26px;
$icon-ok1-height: 26px;
$icon-ok1-total-width: 168px;
$icon-ok1-total-height: 157px;
$icon-ok1-image: '/img/sprite.png';
$icon-ok1: (80px, 95px, -80px, -95px, 26px, 26px, 168px, 157px, '/img/sprite.png', 'icon-ok1', );
$icon-tw-name: 'icon-tw';
$icon-tw-x: 0px;
$icon-tw-y: 95px;
$icon-tw-offset-x: 0px;
$icon-tw-offset-y: -95px;
$icon-tw-width: 28px;
$icon-tw-height: 41px;
$icon-tw-total-width: 168px;
$icon-tw-total-height: 157px;
$icon-tw-image: '/img/sprite.png';
$icon-tw: (0px, 95px, 0px, -95px, 28px, 41px, 168px, 157px, '/img/sprite.png', 'icon-tw', );
$icon-tw1-name: 'icon-tw1';
$icon-tw1-x: 28px;
$icon-tw1-y: 95px;
$icon-tw1-offset-x: -28px;
$icon-tw1-offset-y: -95px;
$icon-tw1-width: 26px;
$icon-tw1-height: 26px;
$icon-tw1-total-width: 168px;
$icon-tw1-total-height: 157px;
$icon-tw1-image: '/img/sprite.png';
$icon-tw1: (28px, 95px, -28px, -95px, 26px, 26px, 168px, 157px, '/img/sprite.png', 'icon-tw1', );
$icon-views-name: 'icon-views';
$icon-views-x: 56px;
$icon-views-y: 34px;
$icon-views-offset-x: -56px;
$icon-views-offset-y: -34px;
$icon-views-width: 25px;
$icon-views-height: 16px;
$icon-views-total-width: 168px;
$icon-views-total-height: 157px;
$icon-views-image: '/img/sprite.png';
$icon-views: (56px, 34px, -56px, -34px, 25px, 16px, 168px, 157px, '/img/sprite.png', 'icon-views', );
$icon-vk-name: 'icon-vk';
$icon-vk-x: 106px;
$icon-vk-y: 95px;
$icon-vk-offset-x: -106px;
$icon-vk-offset-y: -95px;
$icon-vk-width: 26px;
$icon-vk-height: 26px;
$icon-vk-total-width: 168px;
$icon-vk-total-height: 157px;
$icon-vk-image: '/img/sprite.png';
$icon-vk: (106px, 95px, -106px, -95px, 26px, 26px, 168px, 157px, '/img/sprite.png', 'icon-vk', );
$icon-vk1-name: 'icon-vk1';
$icon-vk1-x: 54px;
$icon-vk1-y: 95px;
$icon-vk1-offset-x: -54px;
$icon-vk1-offset-y: -95px;
$icon-vk1-width: 26px;
$icon-vk1-height: 26px;
$icon-vk1-total-width: 168px;
$icon-vk1-total-height: 157px;
$icon-vk1-image: '/img/sprite.png';
$icon-vk1: (54px, 95px, -54px, -95px, 26px, 26px, 168px, 157px, '/img/sprite.png', 'icon-vk1', );
$spritesheet-width: 168px;
$spritesheet-height: 157px;
$spritesheet-image: '/img/sprite.png';
$spritesheet-sprites: ($icon-arrow-left, $icon-arrow-right, $icon-chel, $icon-comments, $icon-country-1, $icon-country-2, $icon-country-3, $icon-country-4, $icon-country-5, $icon-country-6, $icon-dnepr, $icon-fb, $icon-fb1, $icon-flag, $icon-gp, $icon-gp1, $icon-home, $icon-in, $icon-in1, $icon-ok, $icon-ok1, $icon-tw, $icon-tw1, $icon-views, $icon-vk, $icon-vk1, );
$spritesheet: (168px, 157px, '/img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
