// Основной размер шрифта браузера
$browser-context: 16; 

//=== Переменные точек медиа-запросов

  // Широкоформатный экран — 1200px
  $bp-lg: "(max-width : 75.063em)";
  // Десктоп — 992px
  $bp-md:"(max-width : 62.063em)";
 // Планшеты — 768px
 $bp-sm:"(max-width : 48.063em)";
 // Телефоны —  544px
 $bp-xs:"(max-width : 34.063em)";
 // Айфон в портретном режиме — 320px
 $bp-ms:"(max-width : 20.063em)";