//Обязательные файлы для подключения 
@import 'mixins'; 

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=cyrillic');
@import '../fonts/webfontkit-20161219-072323/stylesheet.css';  

$ff_primary:Elektra Text Pro;
$ff_open_sans: 'Open Sans', sans-serif;
$color_primary:#909090;
$color_accent:#7063ca;
body{
	font-family: $ff_primary;
	font-weight: normal;
	color: $color_primary;
	font-size: 16px;
	bottom: 62px;
}
input:focus {
	outline: none;
	box-shadow: 0 0 8px rgba(138, 127, 217, 0.29);
}
.container {
	max-width:1100px;
}
header{
	background: #d4d4d4 url(../img/header-bg.jpg);
	background-size: cover;
	border-bottom: 7px solid #5b605f;
}
section{
	padding-bottom: 60px;
}
.top-info{
	padding: 28px 0 18px 0;
	.search{
		position: relative;
		margin: 12px 0 0 3px;
		input{
			color: $color_primary;
			font-size: em(20);
			height: 51px;
			padding: 0 10px;
			width: 100%;
			border: 1px solid #d5d5d5;
			line-height: 20px;
			font-weight: normal;
			@include placeholder {
				color: #d1d1d1;
				padding: 0 0px;
				font-size: em(20);
				line-height: 20px;
				font-weight: normal;


			}
		} 
		button{
			background: none;
			border: none;
			position: absolute;
			top: 11px;
			right: 10px;
			z-index: 1;
		}
	}
	.contact-block{
		text-align: right;
	}
	.phone{
		color: $color_accent;
		font-size: em(30);
		span{
			font-size: em(20,30);
			color: #838282;
		}
	}
	.email{
		font-size: em(20);
		color: #5b605f;
	}
} 
footer{
	background-color: #3f454d;
}
.logotype{
	margin: 0 0 0 27px;
	width: 168px;
	height: 68px;
	display: inline-block;
} 
.icon{
	display: inline-block;
}
.main-nav{
	position: relative;
	bottom: -7px;
	float: left;
	ul{
		padding: 0;
		li{
			display: block;
			float: left;
			position: relative;
			&:after{
				height: 50px;
				content: "";
				width: 1px;
				background-color: #53585f;
				position: absolute;
				right: 0;
				top: 0;
			}
			&:last-child{
				&:after{
					display: none;
				}
			}
			a{
				text-decoration: none;
				color: #fff;
				background-color: #5b605f;
				padding: 25px 51px;
				display: block;
				float: left;
				text-transform: uppercase;
				&:hover,
				&:active,
				&:focus{
					background-color: #55595c;
				}
			}
		}
	}
}


.cart {
	float: left;
	background: #dddddd;
	display: block;
	width: 210px;
	margin: 7px 0 0 0;
	border: 1px solid #d6d6d6;
	.cart-left{
		background-color: #fff;
		height: 42px;
		width: 42px;
		line-height: 50px;
		margin: 13px 0 10px 13px;
		border-radius: 50%;
		padding: 2px 0 0 8px;
		float: left;
		&:hover{
			cursor: pointer;
			background-color: #ccc;
			border: 1px solid #fff;
		}
	}
	.cart-text{
		padding: 15px 0 0 17px;
		float: left;
		line-height: 1.2;
		span{
			color: $color_accent;
			font-size: em(22);
			font-weight: bold;
		}
		
	}
}
.copy{
	font-size: em(13);
	color: #fff;
	margin: 14px 0 0 0;
	float: left;
}
.contact-bottom{
	float: right;
	font-size: em(20);
	color: #fff;
	margin: 12px 0 8px 0;
	span{
		font-size: em(30,20);
	}
}
.home-slider{
	background-color: #f5f5f5;
	padding-bottom: 0;
	.arrow-next{
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: -14.5px;
		&:hover{
			cursor: pointer;
			transform: scale(1.1);
		}
	}
	.arrow-prev{
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -14.5px;
		transform:  rotate(180deg);
		z-index: 2;
		&:hover{
			cursor: pointer;
			transform: scale(1.1) rotate(180deg);
		}
	}
	.slick-dots li button:before {
		font-size: 11px;
		font-family: 'slick';
		line-height: 20px;
		position: absolute;
		top: 0;
		left: 0;
		width: 20px;
		height: 20px;
		content: '•';
		text-align: center;
		opacity: 1;
		color: white;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

	}
	.slick-dots li button:hover:before{
		color:$color_accent;
	}

	.slick-dots li.slick-active button:before {
		color: $color_accent;
		opacity: 1;
	}
	.slick-dots li {
		width: 7px;
		height: 30px;

	}

}
.slider-item{
	position: relative;
	.slide-lines{
		background: url(../img/slider-line.png) 0 0 no-repeat;
		width: 111px;
		height: 40px;
		position: absolute;
		z-index: 3;
		left: 26px;
		top: 75px;
	}
	img{
		margin: 21px 0 0 91px;
	}
	.slider-text{
		padding: 51px 0 0 14px;
		width: 380px;
		max-width: 100%;
		.title{
			font-size: em(73);
			color: #5b605f;
			margin: 0 0 -7px 0;
		}
		p{
			font-size: em(23);
			color: #b3b3b3;
			line-height: 1.1;
			margin: 0 0 27px 0;
		}
		.slider-bottom{
			color: $color_accent;
			font-size: em(40);
		}
	}
}
section{
	.section-title{
		font-size: 2.5em;
		color: #5b605f;
		position: relative;
		margin: 22px 0 18px 0;
		.icon-line-grey{
			position: absolute;
			left: -38px;
			bottom: 7px;
		}
	}

}
.actions{
	.product-items{
		margin-bottom: 84px;
	}
}

.product-item{
	.price{
		font-size: em(25);
		color: $color_accent;
	}
	.title, .title a{
		font-size: em(18);
		line-height: 24px;
		text-transform: uppercase;
		margin: 0 0 16px 0;
		height: 48px;
		overflow: hidden;
		color: #909090;

	}
	.image{
		position: relative;
		height: 319px;
		text-align: center;
		overflow: hidden;
		margin: 0 0 16px 0;
		transition: all .4s;
		background-color: #fff;
		&:hover{
			opacity: .8;
		}
		img{
			max-width: 100%;

		}
	}

}
.btn-to-cart{
	background-color: #3f454d;
	height: 40px;
	border: none;
	color: #fff;
	width: 174px;
	text-transform: uppercase;
	line-height: 40px;
	padding: 0;
	transition: all .8s;
	span{
		transition: all .4s;
		float: left;
		background: #8074d6;
		width: 40px;
		.icon-basket-white {
			position: relative;
			top: 6px;
			left: -1px;
		}
	}
	&:hover{
		background-color: #333333;
		span {
			transform: rotate(-10deg);
		}
	}
}
.products-custom{
	.item{
		height: 255px;
		position: relative;
		.item-text{
			font-size: em(30);
			font-family: $ff_open_sans;
			font-weight: 300;
			color: #4f4f4f;
			margin: 55px 28px 0 273px;
			text-align: right;
			line-height: 1.3;
			span{
				font-weight: bold;		
			}
		}
		.item-more {
			position: absolute;
			bottom: 0;
			right: 0;
			padding: 11px 15px;
			background: #8074d6;
			.icon-search-white {
				position: relative;
				top: 2px;
				left: 0px;
			}
		}
		
	}
	.product-big{
		float: left;
		width: 50%;
		background-color: #ececec;
		img {
			margin: 14px 0 0 19px;
			float: left;
		}
	}
	.product-small{
		float: left;
		width: 25%;
		background-color: #9b21c5;
		img{
			position: absolute;
			left: 0;
			top: 0;
		}
		.item-text{
			margin: 11px 13px 0 0px;
			position: relative;
			color: #fff;
			line-height: 1.22;
		}
	}
}
.slider-manufacturers{
	padding: 0 30px;
	margin: 12px 0 0 0;
	.slider-item {
		border-left: 1px solid #eaeaeb;
		border-right: 1px solid #efefef;
		img{
			margin: 0;
			width: 100%;

		}
	}
	.slick-arrow{
		line-height: 105px;
		width: 30px;
		text-align: center;
		background: #f6f6f6;
		transition:all .4s;
		&:hover{
			background: #5b605f;
			cursor: pointer; 
		}
	}

	.arrow-prev2 {
		transform: rotate(180deg);
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		border-left: 1px solid #eaeaeb;
		box-shadow: -1px 0px 0px 0px #efefef;
	}
	.arrow-next2{
		position: absolute;
		z-index: 2;
		top: 0;
		right: 0;
		border-left: 1px solid #eaeaeb;
		box-shadow: -1px 0px 0px 0px #efefef;
	}
}
.new_items{
	background-color: #f5f5f5;
}
.news{
	.item{
		.title{
			margin-bottom: 13px;
			line-height: 1.3;
			height: 51px;
			overflow: hidden;
			a{
				color: $color_accent;
				font-size: em(20);
			}
		}
		p{
			line-height: 1;
		}
	}
	.datetime{
		font-size: em(12);
		margin-bottom: 25px;
		color: #b3b3b3;
	}

}

.btn-more{
	background-color: #3f454d;
	line-height: 34px;
	display: block;
	text-align: center;
	width: 120px;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	&:hover{
		color: #fff;
	}
}
.about-text{
	position: relative;
	.icon-upload {
		position: absolute;
		right: 0;
		bottom: -69px;
	}

}
.about-text{
	color: #868686;
	font-size: em(15);
}
.widgets{
	background-color: #f5f5f5;
	padding: 40px 0;
}
.widget-item{
	.title{
		margin-bottom: 15px;
		font-size: em(30);
		color: #5b605f;

	}
	ul{
		padding: 0;
		li{
			display: block;
			a{

			}
		}
	}
	a{
		color: #868686;
		line-height: 24px;
		font-size: em(15);
	}
}
.logo-footer{
	text-align: right;
	margin-bottom: 45px;
}
.social-buttons a {
	margin: 0 0px 0 2px;
	i{
		transition:all .4s;
		&:hover{
			opacity: .8;
		}
	}

}

.breadcrumb {
	padding: 18px 0;
	margin-bottom: 0;
	list-style: none;
	background: none;
	border-radius: 4px;
	font-size: em(14);
	>li+li:before {
		padding: 0 5px;
		color: #ccc;
		content: ">";
	}
	a{
		color: #9f9f9f;
	}
	>.active {
		color:$color_accent;
	}
}
.breadcrumbs{
	padding: 0;
}
.taxonomy-catalog{
	.product-items{
		.product-item{
			margin-bottom: 78px;
		}
	}
}
.sidebar-widget{
	background-color: #a7a7a7;
	font-size: em(22);
	ul{
		padding: 0;
		li{
			display: block;
			&:hover,&.active{
				a{
					background-color: #bfbfbf;
					border-left: 8px solid $color_accent;
					padding-left: 20px;
				}
			}

			a{
				display: block;
				text-decoration: none;
				padding: 14px 28px; 
				color: #fff;
				transition: background .4s;
				
			}
		}
	}
}
.paggination{
	text-align: center;
	ul{
		padding: 0;
		width: 100%;
		li{
			display: inline-block;
			padding: 0 2px;
			span{
				font-size: em(30);
				color: $color_accent;
			}
			a{
				font-size: em(26);
				color: #5b605f;
				text-decoration: none;
				&:hover{
					cursor: pointer;
					color: $color_accent;
				}

			}
		}
	}
}
.filters{
	margin-bottom: 58px;
	label{
		display: block;
		font-size: em(18);
		color: #5b605f;
	}
}
.btn-default {
	background: none;
	border: 1px solid #c0c0c0;
	border-radius: 0;
}
button{
	outline: none;
}
.bootstrap-select.btn-group .dropdown-toggle .caret {
	background: transparent url(../img/select.png) no-repeat;
	border: none;
	width: 29px;
	height: 24px;
	top: 6px;
	right: 2px;
}
.bootstrap-select{
	button.btn.dropdown-toggle.bs-placeholder.btn-default{
		outline: none;
		background: none;
		&:hover,&:focus{
			background: none;
		}
	}
	.dropdown-menu.open{
		a{
			outline: none;
		}
	}

}




