*.log
*.sublime-project
*.sublime-workspace

/.idea/
/node_modules/
/dist/
/app/img/*
/app/plugins
/app/fonts/*
/app/js/*
/app/html/*
!/app/img/.gitkeep.txt
!/app/fonts/.gitkeep.txt
!/app/js/.gitkeep.txt
!/app/html/.gitkeep.txt
!/app/html/index.html

