*.log
*.sublime-project
*.sublime-workspace

/.idea/
/node_modules/
/dist/
/app/
!/app/img/.gitkeep.txt
!/app/img/icons/.gitkeep.txt
!/app/fonts/.gitkeep.txt
!/app/js/main.js
!/app/html/.gitkeep.txt
!/app/html/index.html

